DATABASE_URL=postgresql://neondb_owner:npg_uXv3QHph2PIo@ep-soft-moon-amnnuez9-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SESSION_SECRET=1576226413b9edb2f6d1d4a0e2f1263a0957cf262bd59c5298896bb67d48dd8c
TEMP_SESSION_SECRET=change-me-to-another-random-secret
